<template>
  <div class="shopping-cart-form">
    <div class="shopping-cart-form" :type="type">
      <button class="btn btn-primary" @click="addToCart">
        <i class="fa fa-cart-plus mr-2" aria-hidden="true"></i>Add to Cart
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["cart_url", "product_id", "type"],

  methods: {
    /**
     * sends an object to the main component to add to the cart
     */
    addToCart() {
      this.$emit("add-to-cart", {
        product_id: this.product_id,
        quantity: 1,
        type: this.type,
      });
    },
  },
};
</script>
