<template>
  <ValidationObserver
    ref="form"
    v-slot="{ handleSubmit, invalid, validated, validate }"
  >
    <form @submit.prevent="handleSubmit(onSubmit)">
      <div class="row">
        <div class="col-sm-4">
          <ValidationProvider
            name="Title"
            vid="title"
            rules="required|alpha_spaces"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="title" class="control-label">Title: </label>
              <input
                class="form-control"
                type="text"
                name="title"
                v-model="product.title"
                id="title"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <ValidationProvider
            name="Price"
            vid="price"
            :rules="{ required: true, regex: /^[1-90]+.([1-90][1-90])$/ }"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="price" class="control-label">Price: </label>
              <input
                class="form-control"
                type="text"
                name="price"
                v-model="product.price"
                id="price"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <ValidationProvider
            name="Weight"
            vid="weight"
            :rules="{ required: true, regex: /^[1-90]+.([1-90]+)/ }"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="weight" class="control-label">Weight: </label>
              <input
                class="form-control"
                id="weight"
                name="weight"
                v-model="product.weight"
                type="text"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-6" v-if="categories">
          <ValidationProvider
            name="Category"
            vid="category"
            rules="required"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="category" class="control-label">Category: </label>
              <select
                class="form-control"
                id="category"
                name="category"
                v-model="product.category"
              >
                <option
                  v-for="(category, index) in categories"
                  :value="category.id"
                  :key="index"
                >
                  {{ category.name }}
                </option>
              </select>
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
        <div class="col-sm-6" v-if="taxes">
          <ValidationProvider
            name="Tax"
            vid="tax"
            rules="required"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="tax" class="control-label">Tax: </label>
              <select
                class="form-control"
                id="tax"
                name="tax"
                v-model="product.tax"
              >
                <option
                  v-for="(tax, index) in taxes"
                  :value="tax.id"
                  :key="index"
                >
                  {{ tax.name }}
                </option>
              </select>
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <ValidationProvider
            name="Description"
            vid="description"
            :rules="{ required: true, regex: /^[a-zA-Z0-9\s.\'\,\;\.\?]+$/ }"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="description" class="control-label">Description</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                v-model="product.description"
              >
              </textarea>
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
          </ValidationProvider>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-6">
          <label class="checkbox-inline">
            <input type="checkbox" v-model="showUpload" /><strong
              >Upload Image:</strong
            >
          </label>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row" v-if="!showUpload">
        <div class="col-sm-6">
          <ValidationProvider
            name="Image"
            vid="image"
            :rules="{
              required: true,
              regex: /^[a-zA-Z0-9_\..-\/\\]+$/,
            }"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label>Image Path: </label>
              <input
                class="form-control"
                type="text"
                id="image"
                name="image"
                v-model="product.image"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            name="Thumbnail"
            vid="thumbnail"
            :rules="{
              regex: /^[a-zA-Z0-9_\..-\/\\]+$/,
            }"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label>Thumbnail Path: </label>
              <input
                class="form-control"
                type="text"
                id="thumbnail"
                name="thumbnail"
                v-model="product.thumbnail"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row" v-else>
        <div class="col-sm-6">
          <ValidationProvider
            name="uploadImage"
            ref="uploadProvider"
            vid="upload-image"
            rules="required|image"
            v-slot="{ errors, invalid, changed, validate }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="upload-image" class="control-label"
                >Upload Image:
              </label>
              <input
                type="file"
                name="upload-image"
                id="upload-image"
                accept="image/*"
                @change="setFile"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <div v-if="imageSource">
            <img
              class="uploaded-image"
              :src="imageSource"
              alt="Uploaded Image"
            />
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success pull-left">
            {{ submitButton }}
          </button>
          <button
            type="button"
            class="btn btn-danger pull-right"
            @click="cancel"
          >
            Cancel
          </button>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </form>
  </ValidationObserver>
</template>

<script>
export default {
  props: ["reset", "cancel", "oldProduct"],

  data: function () {
    return {
      product: {
        title: "",
        price: "",
        category: "",
        tax: "",
        image: "",
        description: "",
        weight: "",
        upload: null,
        thumbnail: "",
      },
      categories: null,
      taxes: null,
      isEdit: false,
      imageSource: null,
      showUpload: false,
      submitButton: "Add",
    };
  },

  mounted() {
    this.getCategories();
    this.getTaxes();
    if (this.oldProduct) {
      this.onEdit();
    }
  },

  methods: {
    /**
     * when an open edit form event is trigger it must change  the form from create to edit
     * @return void
     */
    onEdit() {
      this.isEdit = true;
      this.submitButton = "Edit";
      this.fillOutForm();
    },

    /**
     * uses the current product property to fillout the property form
     * @return void
     */
    fillOutForm() {
      this.product = {
        id: this.oldProduct.id,
        title: this.oldProduct.title,
        price: this.oldProduct.price,
        category: this.oldProduct.category_id,
        tax: this.oldProduct.tax_id,
        image: this.oldProduct.image.path,
        thumbnail: this.oldProduct.image.thumbnail,
        description: this.oldProduct.description,
        weight: this.oldProduct.weight,
      };
    },

    /**
     * returns form to the default setting
     * @return void
     */
    refresh() {
      this.isEdit = false;
      this.product = {};
      this.showUpload = false;
      this.submitButton = "Add";
      this.imageSource = null;
    },

    /**
     * does an ajax request to get the categories
     * @return void
     */
    getCategories() {
      axios
        .get(window.Laravel.urls.category_api_url)
        .then((response) => {
          this.categories = response.data.categories;
        })
        .catch(() => {
          this.updateError();
        });
    },

    /**
     * does an ajax request to get the taxes
     * @return void
     */
    getTaxes() {
      axios
        .get(window.Laravel.urls.tax_api_url + "/all")
        .then((response) => {
          this.taxes = response.data.taxes;
        })
        .catch(() => {
          this.updateError();
        });
    },

    /**
     * when the user selects an image it will set the upload property
     * @return void
     */
    async setFile(e) {
      let { valid } = await this.$refs.uploadProvider.validate(e);
      if (valid) {
        this.product.upload = e.target.files[0];
        let reader = new FileReader();
        reader.readAsDataURL(this.product.upload);

        console.log(this.product.upload);

        reader.onload = (e) => {
          this.imageSource = e.target.result;
        };
      }
      //   if (!e.target.files.length) return;
    },

    /**
     *  checks if the form passed validation before submitting results
     *  @return void
     */
    onSubmit() {
      this.$refs.form.validate().then((success) => {
        if (success) {
          if (this.isEdit) {
            this.edit();
          } else {
            this.ajaxRequest(window.Laravel.urls.product_url);
          }
        } else {
          console.log(this.errors);
        }
      });
    },

    /**
     *  adds the patch to the method request
     *  @return void
     */
    edit() {
      this.product._method = "patch";
      this.ajaxRequest(window.Laravel.urls.product_url + "/" + this.product.id);
    },

    /**
     *  performs an ajax request and updates the user message
     *  @return void
     */
    ajaxRequest(url) {
      let form = this.appendFormData();
      axios
        .post(url, form)
        .then((response) => {
          this.updateMessage(response.data.message);
        })
        .catch(() => {
          this.updateError();
        });
    },

    /**
     *  creates a form data object and appends every object in the product to it
     *  @return FormData
     */
    appendFormData() {
      //   let self = this;
      let form = new FormData();
      Object.keys(this.product).forEach((key) => {
        let keyString = String(key);
        if (
          keyString === "image" ||
          keyString === "upload" ||
          keyString === "thumbnail"
        ) {
          if (keyString === "upload" && this.showUpload) {
            form.append(key, this.product[key]);
          }
          if (
            (keyString === "image" || keyString === "thumbnail") &&
            !this.showUpload
          ) {
            form.append(key, this.product[key]);
          }
          return;
        }
        form.append(key, this.product[key]);
      });
      return form;
    },

    /**
     * updates the user message and closes the modal
     * @param message
     * @return void
     */
    updateMessage(message) {
      Event.$emit("update-user-message", message);
      this.reset();
      this.cancel();
    },

    /**
     * updates a user error
     * @return void
     */
    updateError() {
      Event.$emit(
        "update-user-error",
        "An error has occurred please try again!"
      );
      this.cancel();
    },
  },
};
</script>

<style scoped>
.uploaded-image {
  height: 100px;
  width: auto;
}
</style>
